extends layout

block bodyScripts
    script(type='text/javascript').
        $(document).ready(function(){
           $('#approvalsGrid').jsGrid({
             width: "100%", pageSize: 10, sorting: true, paging: true, filtering: true, autoload: true,
             controller: {
              loadData: function (filter) {
                  var d = $.Deferred();
                  var data = !{approvals};
                  if (isEmptyGridFilter(filter)) {
                    d.resolve(data);
                    return d.promise();
                  }
                  data = $.grep(data, function (item) {
                    if (applyGridFilter(filter, item))
                       return item;
                  });
                  d.resolve(data);
                  return d.promise();
              }
            },
            fields: [
                 { name: "user.name", type: "text", title: "User Name",
                   itemTemplate: function(value, item) {
                     return $("<a>").attr("href", "/users/"+item.user.id).text(value);
                    }
                 },
                 { name: "user.email", type: "text", title: "Email"},
                 { name: "application.name", type: "text", title: "Application",
                   itemTemplate: function(value, item) {
                     return $("<a>").attr("href", "/applications/"+item.application.id).text(value);
                    }
                  },
                 { name: "api.id", type: "text", title: "API",
                   itemTemplate: function(value, item) {
                     return $("<a>").attr("href", "/apis/"+item.api.id).text(value);
                    }
                 },
                 { name: "plan.name", type: "text", title: "Plan" },
                 { type: "actions",  type: "control", width: "90",
                         _createFilterSwitchButton: function() {
                          return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                         },
                        itemTemplate: function(value,item) {
                          var $form = $("<form>").attr("role", "form").attr("method","post")
                                                 .append("<input type='hidden' name='api' value='"+item.api.id+"'>")
                                                 .append("<input type='hidden' name='app' value='"+item.application.id+"'>");
                          var $approveBtn = $("<button>").attr("type", "submit")
                                                         .attr("class", "btn btn-sm btn-success")
                                                         .text("Approve")
                                                         .on("click", function () {
                                                            $form.attr("action","/admin/approvals/approve");
                                                            $form.submit();
                                                         });
                          var $declineBtn = $("<button>").attr("type", "submit")
                                                         .attr("class", "btn btn-sm btn-danger")
                                                         .text("Decline")
                                                         .on("click", function () {
                                                           $form.attr("action","/admin/approvals/decline");
                                                           $form.submit();
                                                         });
                          return $("<td nowrap>").append($approveBtn)
                                          .append("<span>&nbsp;</span>")
                                          .append($declineBtn)
                                          .append($form);
                       }
                 }
             ]
           });
           $("#approvalsGrid").jsGrid("option", "filtering", false);
           $(".jsgrid-cell" ).css( "word-wrap", "break-word" );
        });
block content
    .jumbotron.wicked-admin-title
        .container.wicked-title-container
            h1 Pending Subscription Approvals

            p Please review the pending subscription approvals. You may either approve of or decline the subscription.

    .container.wicked-container
      if count == 0
        h3 No pending approvals
      else
        div#approvalsGrid
      br
