extends auth_layout

block content
    h2 Forgotten password
    
    p We have sent out an email to #{email}.
    
    hr
    
    h5 If this is not the email address you used to register with the portal, you will <strong>not</strong> receive any notification.
 
    br
    
    h5
        a(href='/login') Log in to portal.
    h5
        a(href='/signup') Create a new user.
    