extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function validateEmail() {
            var email = $('#email').val();
            var emailError = '';
            if (!email)
                emailError = 'Please enter a value for the email address. ';
            else if (!/.+@.+/.test(email))
                emailError = 'Email address invalid. ';
            try {
                $('#errorEmail').text(emailError);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }

            var somethingBad = !!emailError;

            return !somethingBad;
        }

block content
    h2 Forgot password?

    if glob.auth.local && glob.auth.local.useLocal

        p Enter your email address, and we will send you a password recovery link.

        form(role='form' action='/forgotpassword' method='post' onsubmit='return validateEmail();')
            .form-group
                label(for='email') Email address:
                input(type='string' name='email' id='email').form-control
                small
                    span(id='errorEmail' style='color:red')
                if glob.recaptcha && glob.recaptcha.useRecaptcha
                    br
                    div(class='g-recaptcha' data-sitekey='#{glob.recaptcha.websiteKey}')
            button(class='btn btn-primary btn-block' type='submit')
                span(aria-hidden="true").glyphicon.glyphicon-envelope
                | &nbsp; Send recovery link

        h5
            a(href='/login') Log in to portal.
        h5
            a(href='/signup') Create a new user.

    else
        p This portal does not allow local signup.

        h5
            a(href='/login') Log in to portal.
