extends auth_layout

block scripts
    if authUser
        meta(http-equiv="refresh" content="0; url=/")
    script(type='text/javascript').
        function validateEmail() {
            var email = $('#email').val();
            var password = $('#password').val();
            var emailError = '';
            var passwordError = '';
            if (!email)
                emailError = 'Please enter a value for the email address. ';
            else if (!/.+@.+/.test(email))
                emailError = 'Email address invalid. ';
            if (!password)
                passwordError = 'Please enter your password.';

            try {
                $('#errorEmail').text(emailError);
                $('#errorPassword').text(passwordError);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = !!emailError
                || !!passwordError;
            
            return !somethingBad;
        }

block content
    h2 Log in
    
    p Welcome to the #{glob.title}.

    if glob.auth.adfs && glob.auth.adfs.useAdfs
        a(href='/login/adfs').btn.btn-block.btn-lg.btn-primary
            i.fa.fa-cloud.fa-lg
            span &nbsp; Login with ADFS
    if glob.auth.github && glob.auth.github.useGithub
        a(href="/login/github").btn.btn-lg.btn-block.btn-github
            i.fa.fa-github.fa-lg
            span &nbsp; Log in with GitHub
    if glob.auth.google && glob.auth.google.useGoogle
        a(href="/login/google").btn.btn-lg.btn-block.btn-google
            i.fa.fa-google.fa-lg
            span &nbsp; Log in with Google

    if glob.auth.local && glob.auth.local.useLocal
        br                            
        hr
        br

        if error
            div(role='alert').alert.alert-danger
                span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
                span.sr-only Error:
                | &nbsp; #{error}

        form(role='form' action='/login/local' method='post' onsubmit='return validateEmail();')
            .form-group
                label(for='email') Email:
                input(type='string' name='email' id='email').form-control
                small 
                    span(id='errorEmail' style='color:red')
            .form-group
                label(for='password') Password:
                input(type='password' name='password' id='password').form-control
                small
                    span(id='errorPassword' style='color:red')
            button(class='btn btn-lg btn-primary btn-block' type='submit') Login
        
        h5
            a(href='/forgotpassword') Forgot password?
        h5
            a(href='/signup') Create a new user.
