doctype html
html
  head
    title Wicked Portal - Setting up 

  body(style='background-color:#f4f4f4;')
    div(style="vertical-align:middle;text-align:center;width:100%;height:100%;")
      br
      br
      img(src='/images/ready-in-a-second.png' alt='Ready in a second' title='Ready in a second')
      p(style='font-family:Arial;') The Portal is not yet fully initialized. Please reload in a couple of seconds.