extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function verifyContent() {
            var firstName = $('#firstname').val();
            var lastName = $('#lastname').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var password2 = $('#password2').val();

            var firstnameError = '';
            var lastnameError = '';
            var emailError = '';
            var passwordError = '';
            var password2Error = '';
            if (!firstName)
                firstnameError = 'Please enter a value for the first name.';
            if (!lastName)
                lastnameError = 'Please enter a value for the last name.';
            if (!email)
                emailError = 'Please enter a value for the email address. ';
            else if (!/.+@.+/.test(email))
                emailError = 'Email address invalid. ';
            if (!password 
                || (password.length < 6 || password.length > 24))
                passwordError = 'Please enter a password, more than 5, less than 25 characters long.';
            if (password 
                && (password != password2))
                password2Error = 'Passwords do not match.';
                
            try {
                $('#errorFirstname').text(firstnameError);
                $('#errorLastname').text(lastnameError);
                $('#errorEmail').text(emailError);
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = 
                !!firstnameError
                || !!lastnameError
                || !!emailError
                || !!passwordError
                || !!password2Error;            
            
            return !somethingBad;
        }

block content

    if !authUser
        h2 Sign up
        
        p Sign up for the #{glob.title}.
        br

        - var useAdfs = glob.auth.adfs && glob.auth.adfs.useAdfs
        - var useGithub = glob.auth.github && glob.auth.github.useGithub
        - var useGoogle = glob.auth.google && glob.auth.google.useGoogle
        - var useOauth2 = glob.auth.oauth2 && glob.auth.oauth2.useOauth2
        - var useLocal = glob.auth.local && glob.auth.local.useLocal
        - var useSocial = useAdfs || useGithub || useGoogle || useOauth2

        h4.
            By signing up to this portal, you agree to our <a href='/content/terms-and-conditions'>Terms
            and Conditions</a> and the <a href='/content/privacy-policy'>Privacy/Cookie Policy</a>.

        br

        if useSocial
            h4 Use account federation

            if useAdfs
                a(href='/login/adfs').btn.btn-block.btn-lg.btn-primary
                    i.fa.fa-cloud.fa-lg
                    span &nbsp; Sign up with ADFS
            if useGithub
                a(href="/login/github").btn.btn-lg.btn-block.btn-github
                    i.fa.fa-github.fa-lg
                    span &nbsp; Sign up with GitHub
            if useGoogle
                a(href="/login/google").btn.btn-lg.btn-block.btn-google
                    i.fa.fa-google.fa-lg
                    span &nbsp; Sign up with Google
            if useOauth2
                a(href="/login/oauth2").btn.btn-lg.btn-block.btn-oauth2
                    i.fa.fa-sign-in.fa-lg
                    span &nbsp; Sign up

            if useLocal
                hr

        if useLocal
            h4 Create a new Account

            form(role='form' action='/signup' onsubmit='return verifyContent();' method='post')
                .form-group
                    label(for='firstname') First Name:
                    input(type='string' id='firstname' name='firstname').form-control
                    small 
                        span(id='errorFirstname' style='color:red')
                .form-group
                    label(for='lastname') Last Name:
                    input(type='string' id='lastname' name='lastname').form-control
                    small
                        span(id='errorLastname' style='color:red')
                .form-group
                    label(for='email') Email address:
                    input(type='string' id='email' name='email').form-control
                    small 
                        span(id='errorEmail' style='color:red')
                        span The email address will be used as a username for the API Portal; you will need to verify it. We will send an email to this address with a verification link.
                .form-group
                    label(for='password') Password:
                    input(type='password' id='password' name='password' minlength='6').form-control
                    small
                        span(id='errorPassword' style='color:red')
                .form-group
                    label(for='password2') Confirm Password:
                    input(type='password' id='password2' name='password2' minlength='6').form-control
                    small
                        span(id='errorPassword2' style='color:red')
                br
                if glob.recaptcha && glob.recaptcha.useRecaptcha
                    div(class='g-recaptcha' data-sitekey='#{glob.recaptcha.websiteKey}')
                    br
                button(class='btn btn-primary btn-lg btn-block' type='submit') Register
                
            h5
                a(href='/forgotpassword') Forgot password?

        else
            div(role='alert').alert.alert-danger
                span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
                span.sr-only Error:
                | &nbsp; This portal does not allow for local user sign up. Please use a different way to log in.

        h5
            a(href='/login') Already have a user? Log in.

    else
        h2 Welcome!
                
        p You are logged in as '#{authUser.name}'.

        hr
        
        h4 What now?

        h5
            a(href='/applications') Register an Application
        h5
            a(href='/apis') View APIs
        h5
            a(href='/') Go to the home page
        h5
            a(href='/users/me') Your User Profile        
        br
    
        p Not you? <a href="/login/logout">Logout</a> first and then login with your own account.