extends auth_layout

block content
    h2 Email Validation Request sent
    
    p.
        We have sent an email with a request for email validation to the email address 
        you provided when registering. Please confirm your email address within an 
        hour (60 minutes).
    
    h5
        a(href='/') Go to home page
    h5
        a(href='/users/me') Your User Profile