extends auth_layout

block content
    h2 Successfully verified email

    p Your email address '#{email}' was successfully verified. You may now use the API portal fully.

    if authUser
        p What next?

        h5
            a(href='/applications') Create a new applications
        h5
            a(href='/') Go to the main page
        h5
            a(href='/apis') Subscribe to an API
    else
        a(href='/login').btn.btn-primary.btn-block Log in &raquo;
