extends auth_layout

block content
    h2 Password updated

    p Your password was successfully updated. You may now log in to the API Portal.

    a(href='/login').btn.btn-block.btn-primary Log in &raquo;
