extends auth_layout

block scripts
    script(type='text/javascript').
        function verifyContent() {
            var password = $('#password').val();
            var password2 = $('#password2').val();

            var passwordError = '';
            var password2Error = '';
            if (password.length < 6 || password.length > 24)
                passwordError = 'Please enter a password, more than 5, less than 25 characters long.';
            if (password != password2)
                password2Error = 'Passwords do not match.';

            try {
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }

            var somethingBad =
                !!passwordError
                || !!password2Error;

            return !somethingBad;
        }

block content
    h2 Set new password

    p Specify and confirm your new password. The password has to be 6 to 24 characters long.

    form(role='form' action='/verification/#{verificationId}' method='post' onsubmit='return verifyContent();')
        .form-group
            label(for='password') Password:
            input(type='password' id='password' name='password').form-control
            small
                span(id='errorPassword' style='color:red')
        .form-group
            label(for='password2') Confirm Password:
            input(type='password' id='password2' name='password2').form-control
            small
                span(id='errorPassword2' style='color:red')
        br
        button(type='submit').btn.btn-block.btn-primary Update Password
